@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body{
	background-color: #2B2A33;
	font-family: 'Open Sans', sans-serif; 
	font-size: 22px;
	align-content: center;
	color: white;
	
}

.header{
	margin: auto;
}

 .h1{
 	text-align: center;
 }

 .img{
 	margin: auto;
 	text-align: center;

 }
 #pavel{
 	height: auto;
 	width: 100%;
 	max-width: 360px;
 }
.footer  > li{
	display: inline-block;
	text-align: center;
	margin-left: 12em;
	color: black;
}
 .github{
 	display: block;
 	margin-left: 100%;
 }

 #logo{
 	height: auto;
 	width: 100%;
 	max-width: 70px;
 }
